### üß≠ SQL Project__

The coronavirus took the entire world by surprise, changing everyone's daily routine. City dwellers were no longer spending their free time outside, going to cafes and shopping malls; instead, more people were staying home, reading books. This attracted the attention of startups, who rushed to develop new apps for book lovers.

You have been given a database from one of the services competing in this market. It contains data on books, publishers, authors, and customer ratings and book reviews. This information will be used to generate a value proposition for a new product.

#### üßæ __Data Dictionary__

- `books` (Contains data about books)

    - `book_id`: book ID
    - `author_id`: author ID
    - `title`: title
    - `num_pages`: number of pages
    - `publication_date`: publication date
    - `publisher_id`: publisher ID

- `authors` (Contains data about authors)

    - `author_id`: author ID
    - `author`: the author

- `publishers` (Contains data about publishers)

    - `publisher_id`: publisher ID
    - `publisher`: the publisher

- `ratings` (Contains data about user ratings)

    - `rating_id`: rating ID
    - `book_id`: book ID
    - `username`: the name of the user who reviewed the book
    - `rating`: rating

- `reviews` (Contains data about customer reviews)

    - `review_id`: review ID
    - `book_id`: book ID
    - `username`: the name of the user who reviewed the book
    - `text`: the text of the the review

### üßÆ __DB Relationships__

![Pics](../data/DB_relations.png)

### üíª __1. Libraries__

In [1]:
 # import libraries
 import pandas as pd
 from sqlalchemy import create_engine

### üîÅ __2. Connection to PostgreSQL DB__

In [2]:
db_config = {'user': 'practicum_student', # username
              'pwd': 'QnmDH8Sc2TQLvy2G3Vvh7', # password
              'host': 'yp-trainers-practicum.cluster-czs0gxyx2d8w.us-east-1.rds.amazonaws.com', 
              'port': 5432, # connection port
              'db': 'data-analyst-final-project-db' # the name of the database
              }
 
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                         db_config['pwd'],
                                                         db_config['host'],
                                                         db_config['port'],
                                                         db_config['db'])
 
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

### üì¶ __3. PostgreSQL Overview Queries__

In [14]:
# Show the first 25 records in 'authors' Table
query = 'SELECT * FROM authors \
         LIMIT 25;'
         
pd.io.sql.read_sql(query, con = engine)

    author_id                                  author
0           1                              A.S. Byatt
1           2          Aesop/Laura Harris/Laura Gibbs
2           3                         Agatha Christie
3           4                           Alan Brennert
4           5                Alan Moore/David   Lloyd
5           6                              Alan Paton
6           7             Albert Camus/Justin O'Brien
7           8                           Aldous Huxley
8           9      Aldous Huxley/Christopher Hitchens
9          10    Aleksandr Solzhenitsyn/H.T. Willetts
10         11                  Alexander McCall Smith
11         12        Alexander Pushkin/James E. Falen
12         13              Alexandre Dumas/Robin Buss
13         14                           Alice Hoffman
14         15                            Alice Walker
15         16                          Alison Bechdel
16         17  Allen Ginsberg/William Carlos Williams
17         18                             Amy Sedaris
18         19                                 Amy Tan
19         20                             Andy Warhol
20         21                           Anita Diamant
21         22                            Anita Shreve
22         23                           Ann Brashares
23         24                            Ann Patchett
24         25                                Ann Rule

In [15]:
# Show the first 25 records in 'books' Table
query = 'SELECT * FROM books \
         LIMIT 25;'
         
pd.io.sql.read_sql(query, con = engine)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268
5,6,257,1st to Die (Women's Murder Club #1),424,2005-05-20,116
6,7,258,2nd Chance (Women's Murder Club #2),400,2005-05-20,116
7,8,260,4th of July (Women's Murder Club #4),448,2006-06-01,318
8,9,563,A Beautiful Mind,461,2002-02-04,104
9,10,445,A Bend in the Road,341,2005-04-01,116
10,11,130,A Breath of Snow and Ashes (Outlander #6),980,2006-08-29,83
11,12,541,A Brief History of Time,212,1998-09-01,36
12,13,359,A Caress of Twilight (Merry Gentry #2),348,2005-03-15,33
13,14,85,A Christmas Carol and Other Christmas Writings,288,2003-10-30,217
14,15,198,A Clash of Kings (A Song of Ice and Fire #2),969,2002-05-28,35
15,16,505,A Crown of Swords (The Wheel of Time #7),880,1997-11-15,297
16,17,94,A Dirty Job (Grim Reaper #1),387,2006-03-21,331
17,18,129,A Drink Before the War (Kenzie & Gennaro #1),282,2003-09-15,178
18,19,517,A Fine Balance,603,2001-11-30,309
19,20,349,A Fistful of Charms (The Hollows #4),510,2006-06-27,143
20,21,440,A Game of You (The Sandman #5),192,1999-03-10,305
21,22,368,A Great and Terrible Beauty (Gemma Doyle #1),403,2003-12-09,276
22,23,571,A Hat Full of Sky (Discworld #32; Tiffany Ach...,352,2005-05-05,66
23,24,118,A Heartbreaking Work of Staggering Genius,485,2001-02-13,309
24,25,333,A History of God: The 4 000-Year Quest of Juda...,460,2004-03-02,115

In [16]:
# Show the first 25 records in 'publishers' Table
query = 'SELECT * FROM publishers \
         LIMIT 25;'
         
pd.io.sql.read_sql(query, con = engine)

    publisher_id                                      publisher
0              1                                            Ace
1              2                                       Ace Book
2              3                                      Ace Books
3              4                                  Ace Hardcover
4              5              Addison Wesley Publishing Company
5              6                                        Aladdin
6              7                             Aladdin Paperbacks
7              8                                   Albin Michel
8              9                                Alfred A. Knopf
9             10        Alfred A. Knopf Books for Young Readers
10            11                   Alfred A. Knopf Borzoi Books
11            12                                Algonquin Books
12            13                                  Allen & Ulwin
13            14                                        Amistad
14            15                                         Anchor
15            16                                   Anchor Books
16            17  Anchor Books/Knopf Doubleday Publishing Group
17            18                      Andrews McMeel Publishing
18            19                                Applewood Books
19            20                                          Arrow
20            21                                    Arrow Books
21            22                                Arrow Books Ltd
22            23                         Arthur A. Levine Books
23            24       Arthur A. Levine Books / Scholastic Inc.
24            25               Atheneum Books for Young Readers

In [17]:
# Show the first 25 records in 'ratings' Table
query = 'SELECT * FROM ratings \
         LIMIT 25;'
         
pd.io.sql.read_sql(query, con = engine)

    rating_id  book_id        username  rating
0           1        1      ryanfranco       4
1           2        1   grantpatricia       2
2           3        1    brandtandrea       5
3           4        2        lorichen       3
4           5        2     mariokeller       2
5           6        3   johnsonamanda       4
6           7        3     scotttamara       5
7           8        3     lesliegibbs       5
8           9        4     abbottjames       5
9          10        4    valenciaanne       4
10         11        5     jeromebowen       4
11         12        5         staylor       4
12         13        5         susan85       3
13         14        5         npowers       4
14         15        5         znelson       5
15         16        5        thomas49       4
16         17        6          eallen       2
17         18        6  shermannatalie       3
18         19        6      martinadam       3
19         20        6   serranoangela       5
20         21        6    adamsabigail       5
21         22        6     sfitzgerald       3
22         23        6        walter49       4
23         24        6    jasongoodman       2
24         25        6     jeromebowen       4

In [18]:
# Show the first 25 records in 'reviews' Table
query = 'SELECT * FROM reviews \
         LIMIT 25;'
         
pd.io.sql.read_sql(query, con = engine)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...
5,6,3,lesliegibbs,Analysis no several cause international.
6,7,4,valenciaanne,One there cost another. Say type save. With pe...
7,8,4,abbottjames,Within enough mother. There at system full rec...
8,9,5,npowers,Thank now focus realize economy focus fly. Ite...
9,10,5,staylor,Game push lot reduce where remember. Including...
10,11,5,thomas49,Their physical over rise. Couple doctor seven ...
11,12,5,znelson,Explain individual record wonder we must turn ...
12,13,6,walter49,Western anyone until executive. Add teach ago ...
13,14,6,jasongoodman,Much responsibility feel fund media. Wind musi...
14,15,6,eallen,Money arm first above.
15,16,6,sfitzgerald,Miss effort gun strong surface civil. Resource...
16,17,7,carla64,Poor have radio environment it reduce build. S...
17,18,7,kevin78,Feel really serve quickly fight. Anyone daught...
18,19,7,robert56,Energy doctor cup. Nice low room out other.
19,20,8,richard89,Sister statement than reflect. Crime hot guess...
20,21,8,cassandra90,Blue at simple ok project. Film old firm away.
21,22,8,williamsangela,Organization record might. Various loss politi...
22,23,9,williamsangela,Plan doctor man admit news. Market thousand tr...
23,24,9,lesliegibbs,This station bad edge rather perform. Senior i...
24,25,10,ehall,Blue girl check. American fill social happy. E...

### üîç __4. PostgreSQL Queries__

In [19]:
# Find the number of books published after January 1, 2000
query = "SELECT COUNT (book_id) AS total_books \
         FROM books \
         WHERE publication_date > '2000-01-01';"
         
pd.io.sql.read_sql(query, con = engine)

   total_books
0          819

In [20]:
# Find the number of user reviews and the average rating for each book.
query = "SELECT b.book_id, b.title, COUNT(DISTINCT r.review_id) AS total_reviews, AVG(rt.rating) AS average_rating \
         FROM books b \
         LEFT JOIN reviews r ON b.book_id = r.book_id \
         LEFT JOIN ratings rt ON b.book_id = rt.book_id \
         GROUP BY b.book_id, b.title \
         ORDER BY b.book_id;"
         
pd.io.sql.read_sql(query, con = engine)

,book_id,title,total_reviews,average_rating
0,1,'Salem's Lot,2,3.666667
1,2,1 000 Places to See Before You Die,1,2.500000
2,3,13 Little Blue Envelopes (Little Blue Envelope...,3,4.666667
3,4,1491: New Revelations of the Americas Before C...,2,4.500000
4,5,1776,4,4.000000
...,...,...,...,...
995,996,Wyrd Sisters (Discworld #6; Witches #2),3,3.666667
996,997,Xenocide (Ender's Saga #3),3,3.400000
997,998,Year of Wonders,4,3.200000
998,999,You Suck (A Love Story #2),2,4.500000
999,1000,Zen and the Art of Motorcycle Maintenance: An ...,4,3.833333

In [22]:
# Identify the publisher that has published the largest number of books with more than 50 pages (this will help you exclude pamphlets and 
# similar publications from your analysis).
query = "SELECT p.publisher_id, p.publisher, COUNT(*) AS total_books \
         FROM books b \
         INNER JOIN publishers p ON b.publisher_id = p.publisher_id \
         WHERE b.num_pages > 50 \
         GROUP BY p.publisher_id, p.publisher \
         ORDER BY total_books DESC \
         LIMIT 1;"

pd.io.sql.read_sql(query, con = engine)

   publisher_id      publisher  total_books
0           212  Penguin Books           42

In [23]:
# Identify the author with the highest average book rating: Look only at books with at least 50 ratings.
query = "SELECT a.author_id, a.author, AVG(book_avg.rating_avg) AS author_avg_rating \
         FROM (SELECT b.book_id, b.author_id, AVG(r.rating) AS rating_avg, COUNT(r.rating_id) AS rating_count \
               FROM books b \
               JOIN ratings r ON b.book_id = r.book_id \
               GROUP BY b.book_id, b.author_id \
               HAVING COUNT(r.rating_id) >= 50) AS book_avg \
         JOIN authors a ON book_avg.author_id = a.author_id \
         GROUP BY a.author_id, a.author \
         ORDER BY author_avg_rating DESC \
         LIMIT 1;"
         
pd.io.sql.read_sql(query, con = engine)

   author_id                      author  author_avg_rating
0        236  J.K. Rowling/Mary GrandPr√©           4.283844

In [24]:
# Find the average number of text reviews among users who rated more than 50 books.
query = "SELECT AVG(user_review_count) AS avg_text_reviews \
         FROM (SELECT r.username, COUNT(rv.review_id) AS user_review_count \
               FROM ratings r \
               JOIN reviews rv ON r.username = rv.username \
               GROUP BY r.username \
               HAVING COUNT(r.rating_id) > 50) AS qualified_users;"

pd.io.sql.read_sql(query, con = engine)

   avg_text_reviews
0         719.75625

In [15]:
df = pd.read_sql(query, con=engine)
df.to_csv("../data/raw/da_fp_reviews.csv", index=False)